<div>
  <h1><%="Welcome, #{current_user.username}!"%></h1>
  <p><a href="/gamez">Quizzes</a></p>
  <h2>Quiz History</h2>
  <% if @rounds.any? %>
  <ul>
    <% @rounds.each do |round| %>
      <li>
        <% deck = round.cards.first.deck %>
        <h3><%= deck.title %></h3>
        <table>
          <tr>
            <td>Played On:</td>
            <td colspan="3"><%= round.created_at.to_date %></td>
          </tr>
          <tr>
            <td>Total Cards:</td>
            <td colspan="3"><%= round.total_cards %></td>
          </tr>
          <tr>
            <td>Guesses Right on First Try:</td>
            <td><%= round.first_try %></td>
            <td>Average Guesses Right on First Try:</td>
            <td><%= deck.avg_first_try %></td>
          </tr>
          <tr>
            <td>Total Guesses:</td>
            <td><%= round.total_guesses %></td>
            <td>Average Total Guesses:</td>
            <td><%= deck.avg_guesses %></td>
          </tr>
        </table>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p> You haven't played any rounds yet! Click <a href="/gamez">HERE</a> to see our selection of quizzes.</p>
  <% end %>
</div>
